@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-brand: Jomhuria;

  --color-accent: #3395f7;
  --color-accent-dark: #3660e9;
  --color-accent-secondary: #f49c3f;
  --color-accent-secondary-dark: #e4592a;

  --color-base-light: #f4f6fb;
  --color-base-medium: #babfd1;
  --color-base-dark: #6b738e;
  --color-base-black: #1d1e22;
}

body {
  @apply font-poppins;
}

@layer components {
  .text-gradient-blue {
    @apply bg-linear-to-r from-accent to-accent-dark bg-clip-text text-transparent;
  }
  .text-gradient-orange {
    @apply bg-linear-to-r from-accent-secondary to-accent-secondary-dark bg-clip-text text-transparent;
  }
  .bg-gradient-blue {
    @apply bg-linear-to-r from-accent to-accent-dark;
  }
  .bg-gradient-orange {
    @apply bg-linear-to-r from-accent-secondary to-accent-secondary-dark;
  }

  .button-blue {
    @apply bg-linear-to-r from-accent to-accent-dark px-4 py-2 rounded-full text-white capitalize shadow-md outline-2 outline-accent-dark hover:bg-gradient-to-r hover:from-accent-dark hover:to-accent active:from-accent-secondary active:to-accent-secondary-dark active:outline-accent-secondary-dark flex items-center gap-2 font-medium cursor-pointer justify-between;
  }

  .button-orange {
    @apply bg-linear-to-r from-accent-secondary to-accent-secondary-dark px-4 py-2 rounded-full text-white capitalize shadow-md outline-2 outline-accent-secondary-dark hover:bg-gradient-to-r hover:from-accent-secondary-dark hover:to-accent-secondary active:from-accent active:to-accent-dark active:outline-accent-dark flex items-center gap-2 font-medium cursor-pointer justify-between;
  }

  .button-chips {
    @apply text-xs outline outline-base-dark p-1.5 rounded-full px-3 text-base-dark cursor-pointer hover:bg-accent hover:text-white hover:outline-accent-dark capitalize;
  }

  .button-chips-active {
    @apply text-xs outline outline-accent-secondary-dark p-1.5 rounded-full px-3 text-white bg-accent-secondary cursor-pointer hover:bg-accent hover:text-white hover:outline-accent-dark capitalize;
  }

  .dropdown-chips {
    @apply text-xs outline outline-base-dark p-1.5 rounded-full px-3 text-base-dark cursor-pointer hover:bg-accent hover:text-white hover:outline-accent-dark capitalize;
  }

  .date-chips {
    @apply text-xs outline outline-base-dark p-1.5 rounded-full px-3 text-base-dark cursor-pointer hover:bg-accent hover:text-white hover:outline-accent-dark capitalize;
  }

  .button-event-blue {
    @apply text-sm bg-linear-to-r from-accent to-accent-dark px-4 py-2 rounded-full text-white capitalize shadow-md outline-2 outline-accent-dark hover:bg-gradient-to-r hover:from-accent-dark hover:to-accent active:from-accent-secondary active:to-accent-secondary-dark active:outline-accent-secondary-dark flex justify-between items-center gap-2 font-medium w-full cursor-pointer;
  }

  .button-outline-blue {
    @apply text-sm bg-linear-to-r from-accent to-accent-dark px-4 py-2 rounded-full capitalize shadow-md outline-2 outline-accent-dark hover:bg-gradient-to-r hover:from-accent-dark hover:to-accent active:from-accent-secondary active:to-accent-secondary-dark active:outline-accent-secondary-dark text-transparent bg-clip-text flex justify-between items-center gap-2 font-medium w-full cursor-pointer;
  }

  .input-label {
    @apply text-xl capitalize font-semibold text-base-black cursor-pointer;
  }

  .input-field {
    @apply px-4 py-2 rounded-full outline-2 outline-base-medium bg-base-light placeholder:capitalize focus:outline-accent;
  }

  .text-link {
    @apply capitalize text-accent font-medium hover:text-accent-dark hover:underline underline-offset-2;
  }
}
